.background {
  background: url('https://www.glavista.com/img/personalizacion/guardian/pages/services/services-banner.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}

.button {
  background-color: red;
  color: white;
  margin-left: 5%;
}

.sideModal {
  width: 400px;
  height: 450px;
  position: fixed;
  top: 150px;
  right:50px;
  background-color: white;
  box-shadow: 20px 20px 50px black;
}

.input {
  border: black;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.head {
  padding: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.terms {
  font-size: 12px;
}

.inputs {
  border: none;
}

.inputN {
  border: black;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  overflow-y: scroll; 
  height:300px;
  text-decoration:none;
  cursor: pointer;
}